*.*
!*.nex
!*.pdf
!*.png
!APOE_refseq_transcript.fasta
*.*
!*.pl 
*.*
!*.pl
!*.sh
!*.py
!*.qza
!*.qzv
*.fasta
!*.ris
!*.Rmd
!*.md
!*.nb.html
!*.qza
!*qzv
!*.R
!*.mibs
!*.mibs.id
!*.raw
!*.lmiss
!*.imiss
!*.frq.strat
!*.zip
